<footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">© 2024 Akrom Rustamov</h3>
      <p>All rights reserved.
        This site was created to showcase my web development skills and projects. Thank you for your visit! Stay tuned for my updates and feel free to contact me for any questions.</p>
      <div class="social-links d-flex justify-content-center">
        {% for social in socials() %}
          <a href="{{ social.url }}"><i class="{{ social.style }}"></i></a>
        {% endfor %}
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Personal</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          Designed by github <a href="https://github.com/RustamovAkrom">GitHub Rustamov Akrom</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>