<!-- Hero Section -->
<section id="hero" class="hero section dark-background">
  <img src="{{ url_for('static', filename='assets/img/index-bg.jpg') }}" alt="" data-aos="fade-in">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    {% if current_user.is_authenticated %}
    <h2>Welcome Akrom</h2>
    {% else %}
    <h2>Rustamov Akrom &</h2>
    {% endif %}
    <p>I'm <span class="typed" data-typed-items="Python developer, Web developer, Freelancer, Akrom">Photographer</span><span class="typed-cursor typed-cursor--blink"></span></p>
    <div class="col-md-6 mt-4">
      <small>Hi! I am Akrom Rustamov, a Python developer with over 2 years of experience in web development. My key skills include Django, Flask and FastAPI.</small>
    </div>
    <div class="social-links">
      {% for social in socials() %}
      <a href="{{ social.url }}"><i class="{{ social.style }}"></i></a>
      {% endfor %}
    </div>
    <div class="mt-4 mb-3">
        <a  href="{{ url_for('site.portfolio') }}" class="btn btn-outline-success">My projects</a>
      {% if resume %}
        <a  href="{{ url_for('site.download_resume', resume_id=resume.id) }}" class="btn btn-outline-success">Download resume</a>
      {% endif %}
    </div>
  </div>

</section><!-- /Hero Section -->
