Flask==3.0.3
Flask-Admin==1.6.1
Flask-Babel==2.0.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
GitPython==3.1.43
Markdown==3.7
python-dotenv==1.0.1
black
flake8